table {
  max-width: 40%;
  width: 70%;
  border-collapse: collapse;
  text-align: left;
}
th {
  border-bottom: 1px solid #9b9b9b;
  padding: 10px 8px;
}
td {
  border-bottom: 1px solid #9b9b9b;
  padding: 9px 8px;
}
